<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AuthWebServiceSoap" />
                <binding name="BasicHttpBinding_IAuthWcfService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7140/AuthWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AuthWebServiceSoap"
                contract="WebServiceAuthService.AuthWebServiceSoap" name="AuthWebServiceSoap" />
            <endpoint address="http://localhost:26974/AuthWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthWcfService"
                contract="WcfAuthService.IAuthWcfService" name="BasicHttpBinding_IAuthWcfService" />
        </client>
    </system.serviceModel>
</configuration>